.board-container {
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  align-items: center;
  background-image: url('./../assets/img/wood.jpg');
}

.board {
  display: flex;
  flex-direction: column;
  background-image: url('./../assets/img/paper.jpg');
  background-size: cover;
  box-shadow: 1px 2px 12px 0px black;
  transform: rotate(3deg);
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  float: left;
  height: 4vh;
  padding: 0;
  width: 4vh;
  cursor: url("./../assets/img/cursor.svg"), pointer;
}

.square:hover {
  background-color: #cccccccc;
}

.squareImg {
  width: 80%;
}

.ipx-container {
  width: 36.6vh;
  height: 72vh;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: rotate(-3deg);
}  

.ipx-screen {
  width: 33.6vh;
  height: 67.2vh;
  border-radius: 3.6vh;
  overflow: hidden;
  background-color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ipx-bezel {
  position: absolute;
  width: 36.6vh;
  height: 72vh;
  background-image: url('./../assets/img/ipx.png');
  background-size: cover;
}

.ipx-screen h3 {
  font-family: 'Orbitron', sans-serif;
  font-size: 3vh;
}

.ipxImg {
  width: 40%;
}

.ipx-time {
  font-size: 15vh;
  font-family: 'Orbitron';
  margin: 5vh;
}

.disable {
  pointer-events: none;
}

.chat-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 3vh;
  bottom: 3vh;
  width: 10vh;
  height: 10vh;
  background-color: transparent;
  opacity: 0.8;
}

.chat-icon {
  width: 10vh;
}

.chat-input {
  position: absolute;
  right: 12vh;
  width: 0vw;
  height: 5vh;
  opacity: 0;
  border-radius: 5vh;
  border: 4px solid #3D3D3D;
  box-shadow: rgba(0,0,0,0.8) 0 0 10px;
  transition: all 0.3s ease;
  padding-left: 2vw;
  padding-right: 2vw;
  font-family: 'Bangers', cursive;
  font-size: 4vh;
}

.chat-container:hover > .chat-input, .chat-input:focus {
  width: 30vw;
  height: 10vh;
  opacity: 1;
}

.message-container {
  position: absolute;
  overflow: hidden;
  word-wrap: break-word;
  min-width: 20vh;
  height: 10vh;
  border-radius: 5vh;
  box-shadow: rgba(0,0,0,0.6) -4px 5px 60px 0px;
  line-height: 10vh;
  font-size: 4vh;
  padding-left: 2vw;
  padding-right: 2vw;
  font-family: 'Bangers', cursive;
  background-color: white;
  opacity: 0.8;
  transition: all 0.5s ease;
  z-index: 2000;
}

.message-container.send {
  bottom: 15vh;
  right: 5vh;
}

.message-container.receive {
  top: 15vh;
  left: 5vh;
}

.message-container.hide {
  width: 0;
  min-width: 0;
  font-size: 0;
  height: 0;
  opacity: 0;
}

.vibrate {
  animation: shake 0.5s infinite; 
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(-3deg); }
  10% { transform: translate(-1px, -2px) rotate(-4deg); }
  20% { transform: translate(-3px, 0px) rotate(-2deg); }
  30% { transform: translate(3px, 2px) rotate(-3deg); }
  40% { transform: translate(1px, -1px) rotate(-2deg); }
  50% { transform: translate(-1px, 2px) rotate(-4deg); }
  60% { transform: translate(-3px, 1px) rotate(-3deg); }
  70% { transform: translate(3px, 1px) rotate(-4deg); }
  80% { transform: translate(-1px, -1px) rotate(-2deg); }
  90% { transform: translate(1px, 2px) rotate(-3deg); }
  100% { transform: translate(1px, -2px) rotate(-4deg); }
}

.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  transition: all 2s ease;
}

.overlay.hide {
  display: none !important;
  opacity: 0;
}

.overlay-text {
  color: white;
  font-family: 'Orbitron';
  font-size: 8vh;
  text-align: center;
}

.btn-result {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 5vh;
  opacity: 1;
  transition: all 1s ease-in-out;
}

.btn-result.hide {
  overflow: hidden;
  width: 0;
  height: 0;
  opacity: 0;
}

@media (max-width: 768px) {
  .board-container {
    flex-direction: column;
    justify-content: flex-start;
  }
  .board {
    transform: rotate(0deg);
    margin-top: 5vh;
  }

  .square {
    width: 4.5vw;
    height: 4.5vw;
  }

  .ipx-container {
    width: 100vw;
    height: 20vw;
    transform: rotate(0deg);
  }

  .ipx-bezel {
    display: none !important;
  }

  .ipx-screen {
    flex-direction: row;
    width: 100vw;
    height: 20vw;
    border-radius: 0;
    background-color: #ffffffcc;
  }

  .ipx-screen h3 {
    width: 60%;
    text-align: center;
  }

  .ipxImg {
    width: 10%;
  }

  .ipx-time {
    width: 30%;
    font-size: 10vw;
    margin: 0;
    text-align: center;
  }

  .vibrate {
    animation: 0s;
  }

  .chat-container:hover > .chat-input, .chat-input:focus {
    width: 70vw;
    height: 10vh;
  }
}